@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");

body {
	background: var(--background);
	color: #3b82f6;
	font-family: "Jost", Arial, Helvetica, sans-serif;
}
